/*
 * Custom sw-techie CSS
*/
 .aimeos .main-sidebar .swordbros .icon:before {
  content: "\f19c";
}
.aimeos .main-sidebar .swordbros.active, .aimeos .main-sidebar .blog.active {
  color:#30d5c8;
}

.item-techie .header-type label{
  padding: 10px;
  transition: box-shadow .5s;
}
.item-techie .header-type label:hover{
  box-shadow: 0 0 10px #f1f0a8;
}
.item-techie .jqtree-tree input {
    float: left;
    margin-top: 3px;
    margin-right:5px; 
}